---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Quem Somos',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Quem Somos"
    image={{
      src: '~/assets/images/agencia.png',
      alt: 'Agência 4D',
    }}
  >
    <Fragment slot="title">
      Fazemos Design <br />
      com <span class="text-accent dark:text-white highlight"> propósito</span>
    </Fragment>

    <Fragment slot="subtitle">
     A construção de experiências incríveis e sistemas com ótima performance. Nossa plataforma de design oferece diversos serviços na área de branding (BRA), design de sistemas (SYS) e experiência do usuário (UX).
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Estatísticas"
    stats={[
      { title: 'Cidades', amount: '42' },
      { title: 'Sócios', amount: '4' },
      { title: 'Clientes', amount: '12' },
      { title: 'Prêmios', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Nosso modelo de trabalho"
    subtitle="Atendemos de forma remota em todo o Brasil, ou de forma presencial na região Zona da Mata de MG, e nas Capitais Rio de Janeiro, São Paulo, Salvador e Vitória"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educação e Treinamento',
        description:
          'Treinamentos em desenvolvimento de sistemas, design de experiência do usuário (UX), design system e linguagens de programação',
        icon: 'tabler:template',
      },
      {
        title: 'Design',
        description:
          'Uma ampla gama de serviços de design que vão desde design de produto, design gráfico, design de interiores, e design de softwares e aplicativos.',
        icon: 'tabler:template',
      },
      {
        title: 'Sistemas',
        description:
          'Do planejamento à execução, oferecemos consultoria em desenvolvimento de sistemas, capacitação, construção de Saas e integração de sistemas. Veja o catálogo.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Social Media',
        description:
          'Conheça nosso pacote de social media clicando no link.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Acompanhe de perto nossa rotina acessando nosso blog.',
        icon: 'tabler:template',
      },
      {
        title: 'Negócio',
        description:
          'Construímos valor para o seu negócio por meio da criação de propósito. Veja nossos cases de Saas e Empreendedorismo.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Credenciados com o método Ana Couto - LAJE, o maior escritório de Branding da América Latina. Nós te mostramos como surfar nas ondas produto, marca e pessoas',
        icon: 'tabler:template',
      },
      {
        title: 'Design de produto',
        description:
          'Da inovação ao redesign, design de produtos premiados no cenário nacional e global',
        icon: 'tabler:template',
      },
      {
        title: 'Design gráfico',
        description:
          'Com ênfase no mercado digital, nós estamos preparados para elevar o patamar da sua comunicação visual, identidade e peças de publicidade.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: '~/assets/images/agenci.png',
      alt: 'Agência 4D ',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nossos valores"
    subtitle="Antenados com o mundo contemporâneo."
    items={[
      {
        title: 'Atento às mudanças',
        description:
          'A Internet e a Inteligência Artificial impôs novos desafios. Por isso temos que ficar atentos para nos mantermos atualizados.',
      },
      {
        title: 'Construindo um mundo mais justo',
        description:
          'Apesar de todas as mazelas, a humanidade precisa se unir para construir um mundo mais justo.',
      },
      {
        title: 'Gerando valor e criando oportunidades',
        description:
          'As transformações podem ter caráter devastador. Mas com planejamento e adaptação podemos criar diferencias no mercado e ser parte da mudança.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Inovação e Sustentabilidade',
        description: 'A sustentabilidade está no nosso DNA. Saiba como tornar a sua empresa parte da [[transformação verde]].',
        icon: 'tabler:globe',
      },
      {
        title: 'Uma comunidade fortalecida',
        description:
          'Nós colocamos você em contato com o seu público para criar comunidades cada vez mais fortes',
        icon: 'tabler:message-star',
      },
      {
        title: 'Lugar de destaque',
        description:
          'Nós queremos destaque para nós e para nossos clientes. Por isso que nós estamos sempre nos melhores lugares.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Presença Estratégica"
    tagline="Saiba como e onde nos encontrar"
    columns={4}
    items={[
      {
        title: 'MG',
        description: 'Juiz de Fora, Ubá e Belo Horizonte',
      },
      {
        title: 'RJ',
        description: 'Rio de Janeiro',
      },
      {
        title: 'SP',
        description: 'São Paulo',
      },
      {
        title: 'ES',
        description: 'Vitória ES',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Suporte técnico"
    tagline="Contato"
    columns={2}
    items={[
      {
        title: 'Whatsapp',
        description:
          '32 98405 2664 (Ricardo) |  32 98499-1884 (Ítalo)',
        icon: 'tabler:messages',
      },
      {
        title: 'Telefone',
        description:
          '32 98405 2664 (Ricardo) |  32 98499-1884 (Ítalo)',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
